.history {
    margin: 1.5rem;
}
.history-current-step {
    margin-left:.5em;
    margin-right:.5em;
    display: block;
    line-height: 2.375rem;
}
.history-nav button svg {
    width:.75rem;
    height:2rem;
    display:block;
}
.history-current-step .form-control {
    width: 3.5rem;
    text-align: center;
    padding:.625rem 0;
    height: calc(1.5em + 1.25rem + 2px);
}