body,
input {
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 400;
}
h2 {
    font-size: 1.25rem;
    font-weight: 600;
}
.btn-primary {
    color: #333;
    background-color: #f6f6f6;
    border-color: #ccc;
}
.btn-primary:hover {
    color: #333;
    background-color: #ddd;
    border-color: #aaa;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #333;
    background-color: #ddd;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #616161;
    background-color: #ddd;
    border-color: #ddd;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #333;
    background-color: #ddd;
    border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#dropdown-game-menu .dropdown-toggle::after {
    display: none;
}

/* --------------- Dark mode --------------- */

body.dark-mode {
    background-color: #303030;
    color: #d6d6d6;
}